<!DOCTYPE html>
<html>

<head>
    <title>Edit Expense</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<script>
    function toggleTheme() {
        let current = document.documentElement.getAttribute("data-theme");
        if (current === "dark") {
            document.documentElement.removeAttribute("data-theme");
            localStorage.setItem("theme", "light");
        } else {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
        }
    }

    // Load saved theme
    let savedTheme = localStorage.getItem("theme");
    if (savedTheme === "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
    }
    function toggleMenu() {
        document.getElementById("navLinks").classList.toggle("show");
    }

</script>

<body>
    <div class="container">

        <nav class="navbar">
            <div class="nav-left">
                <span class="logo">💰 Finance App</span>
            </div>

            <div class="nav-toggle" onclick="toggleMenu()">☰</div>

            <div class="nav-links" id="navLinks">
                <a href="/dashboard">Dashboard</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
                
            </div>
            <button onclick="toggleTheme()">🌓</button>
        </nav>
        </div>

        <div class="card" style="margin-top:30px; max-width:450px; margin-left:auto; margin-right:auto;">

            <h2>✏️ Edit Expense</h2>

            <form method="post">
                <label>Title</label>
                <input type="text" name="title" value="{{ expense['title'] }}" required>

                <label>Amount</label>
                <input type="number" step="0.01" name="amount" value="{{ expense['amount'] }}" required>

                <label>Category</label>
                <input type="text" name="category" value="{{ expense['category'] }}" required>

                <label>Date</label>
                <input type="date" name="date" value="{{ expense['date'] }}" required>

                <br><br>
                <button>Update Expense</button>
            </form>
        </div>

    </div>
</body>

</html>