<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<script>
    function toggleTheme() {
        let current = document.documentElement.getAttribute("data-theme");
        if (current === "dark") {
            document.documentElement.removeAttribute("data-theme");
            localStorage.setItem("theme", "light");
        } else {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
        }
    }

    // Load saved theme
    let savedTheme = localStorage.getItem("theme");
    if (savedTheme === "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
    }
    function toggleMenu() {
        document.getElementById("navLinks").classList.toggle("show");
    }
</script>

<body>
    <div class="container">

        <nav class="navbar">
            <div class="nav-left">
                <span class="logo">💰 Finance App</span>
            </div>

            <div class="nav-right">
                <div class="nav-toggle" onclick="toggleMenu()">☰</div>

                <div class="nav-links" id="navLinks">
                    <a href="/dashboard">Dashboard</a>
                    <a href="/add_income">Add Income</a>
                    <a href="/add_expense">Add Expense</a>
                    <a href="/set_budget">Set Budget</a>
                    <a href="/summary">Summary</a>
                    <a href="/logout">Logout</a>
                </div>

                <button class="theme-btn" onclick="toggleTheme()">🌓</button>
            </div>
        </nav>
        <div class="card" style="margin-top:30px; max-width:600px; margin-left:auto; margin-right:auto;">
            <h2>👤 My Profile</h2>
            <p>Welcome, <b>{{ username }}</b></p>
            <hr>

            <p>💰 Total Income: <b>₹ {{ total_income }}</b></p>
            <p>💸 Total Expense: <b>₹ {{ total_expense }}</b></p>
            <p>💚 Balance: <b>₹ {{ balance }}</b></p>
        </div>

    </div>
</body>

</html>