<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<script>
    function toggleTheme() {
        let current = document.documentElement.getAttribute("data-theme");
        if (current === "dark") {
            document.documentElement.removeAttribute("data-theme");
            localStorage.setItem("theme", "light");
        } else {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
        }
    }

    // Load saved theme
    let savedTheme = localStorage.getItem("theme");
    if (savedTheme === "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
    }
    function toggleMenu() {
        document.getElementById("navLinks").classList.toggle("show");
    }

</script>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <span class="logo">💰 Finance App</span>
        </div>

        <button onclick="toggleTheme()">🌓</button>
    </nav>
    <div class="container">
        <div class="card" style="margin-top:80px; max-width:400px; margin-left:auto; margin-right:auto;">
            <h2>🔐 Login</h2>

            <form method="post">
                <label>Username</label>
                <input type="text" name="username" required>

                <label>Password</label>
                <input type="password" name="password" required>

                <br><br>
                <button>Login</button>
            </form>

            <p style="margin-top:15px;">Already have an account?<a href="/">Go to Login</a>
            </p>
        </div>




    </div>
</body>

</html>