<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Summary</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<script>
    function toggleTheme() {
        let current = document.documentElement.getAttribute("data-theme");
        if (current === "dark") {
            document.documentElement.removeAttribute("data-theme");
            localStorage.setItem("theme", "light");
        } else {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
        }
    }

    // Load saved theme
    let savedTheme = localStorage.getItem("theme");
    if (savedTheme === "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
    }
    function toggleMenu() {
        document.getElementById("navLinks").classList.toggle("show");
    }

</script>

<body>
    <div class="container">

        <nav class="navbar">
            <div class="nav-left">
                <span class="logo">💰 Finance App</span>
            </div>
            <button class="btn btn-small" onclick="toggleTheme()">🌓</button>
            <div class="nav-toggle" onclick="toggleMenu()">☰</div>

            <div class="nav-links" id="navLinks">
                <a href="/dashboard">Dashboard</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>

            </div>

        </nav>

        <div class="card" style="max-width:600px; margin:auto;">
            <h2>📊 Monthly Summary</h2>

            <p><b>This Month ({{ this_month }}):</b> ₹ {{ this_month_total }}</p>
            <p><b>Last Month ({{ last_month }}):</b> ₹ {{ last_month_total }}</p>

            <hr>

            <p><b>Difference:</b> ₹ {{ diff }}</p>
            <p><b>Change:</b> {{ percent_change | round(2) }} %</p>

            <hr>

            <h3>{{ message }}</h3>
        </div>

    </div>
</body>

</html>